<h2 class="ui center aligned icon header">
  <i class="circular cogs icon"></i>
  Tipo de Rh (Sangre)
</h2>

<div style="padding: 2.5rem 2.5rem">

  <table class="ui striped small basic table">
    <thead style="background: rgb(221, 217, 217);">
      <tr>        
        <th>Nombre</th>        
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let typeRh of typeRhX">

        <td>Plasma Tipo: &nbsp; &nbsp; <div class="ui red horizontal label">{{ typeRh.name }}</div></td>   
        <td>
            <div class="ui icon small buttons">
              <button class="ui yellow basic button" (click)="sendModaltoUpdate(typeRh)">
                <i class="edit icon"></i> Editar
              </button>
              <button class="ui red basic button" (click)="deleteTypeRh(typeRh)">
                <i class="trash icon"></i> Eliminar
              </button>            
            </div>
        </td>            

    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="2">          
          <div class="ui right floated small positive basic labeled icon button" (click)="sendModaltoCreate()">
            <i class="hand pointer outline icon"></i> Crear Rh
          </div>                   
        </th>
      </tr>
    </tfoot>
  </table> 

</div>

<!-- ======================================= Modal ======================================= -->
<div class="ui tiny modal" id="modalTypeRh">
  <div class="ui icon header">
    <i class="heartbeat icon"></i> {{ title }}
  </div>
  <div class="content">
      <form ngNativeValidate 
        [formGroup]="formRh" (ngSubmit)="chooseActionTypeRh()" class="ui form">
          <div class="field">
            <label>Nombre</label>
            <input type="text" name="name" formControlName="name" placeholder="Tipo de Rh - Nombre">
            <div class="ui pointing label" *ngIf="!formRh.controls.name.valid">
                Escribe algo aqui, por favor!
              </div>
          </div>          
          <button *ngIf="!update; else updateBoton" class="ui right floated small positive basic labeled icon button" type="submit" [disabled]="formRh.invalid" (click)="createTypeRh()">
              <i class="hand pointer outline icon"></i> Crear
          </button>
          <ng-template #updateBoton>
              <button class="ui right floated small yellow basic labeled icon button" type="submit" [disabled]="formRh.invalid" (click)="updateTypeRh()">
                  <i class="hand pointer outline icon"></i> Actualizar
              </button>
          </ng-template>
          <br><br>
      </form>
  </div> 
</div>