<h2 class="ui center aligned icon header">
  <i class="circular cogs icon"></i>
  Tipo de Rh (Sangre)
</h2>

<div style="padding: 2.5rem 2.5rem">

  <table class="ui striped small basic table">
    <thead style="background: rgb(221, 217, 217);">
      <tr>        
        <th>Nombre</th>        
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

      <tr>        
        <td>Plasma Tipo: &nbsp; &nbsp; <div class="ui red horizontal label">O+</div></td>   
        <td>
            <div class="ui icon small buttons">
              <button class="ui yellow basic button">
                <i class="edit icon"></i> Editar
              </button>
              <button class="ui red basic button">
                <i class="trash icon"></i> Eliminar
              </button>            
            </div>
        </td>     
      </tr>

    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="2">
          <div class="ui right floated small positive basic labeled icon button" (click)="launchModal()">
            <i class="hand pointer outline icon"></i> Crear Rh
          </div>          
        </th>
      </tr>
    </tfoot>
  </table>

</div>

<!-- Modal -->
<div class="ui tiny modal">
  <div class="ui icon header">
    <i class="cogs icon"></i> Tipo - Rh -
  </div>
  <div class="content">
      <form ngNativeValidate 
        [formGroup]="formRh" (ngSubmit)="createRh()" class="ui form">
          <div class="field">
            <label>Nombre</label>
            <input type="text" name="name" formControlName="name" placeholder="Tipo de Rh - Nombre">
            <div class="ui pointing label" *ngIf="!formRh.controls.name.valid">
                Please enter a value
              </div>
          </div>
          <button class="ui right floated small positive basic labeled icon button" type="submit" [disabled]="formRh.invalid">
              <i class="hand pointer outline icon"></i> Crear
          </button>
          <br><br>
      </form>
  </div> 
</div>